html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Innominds!!!
        h2 This is new commit by manoj 12:15 PM
        h1 
        p Simple web app that is not patched and not safe!!
        p 
